body{
  margin: 0;
}
.headerr{
  color: blueviolet;
  margin-left: 20px;
  font-style:oblique;
  font-size: x-large;
}
.div1{
  background: beige;
  margin: 0;
}
.div2{
  width:100%;
  height: 300px;
  background: linear-gradient(rgb(188, 164, 211),beige);
  padding-top: 50px;
  padding-left: 80px;
}
.bttn{
  background: linear-gradient(rgb(164, 84, 240),rgb(78, 28, 83));
  padding: 20px 40px;
  border-radius: 6px;
  cursor: pointer;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  color: rgb(200, 140, 200);
  border-color: rgb(66, 31, 99);
  border-style: inherit;
}

.footerclass{
  background: blueviolet;
  height: 100px;
  margin-top: 0;
}
img{
  width:50%
}
